:root{
 --cor-de-fundo: #1e1e1e;
 --verde: #5fff57; 
 --branco: #FFFFFF; 
 --botao-ativo: #3A375E;
 --botao-inativo: rgba(58,55,94,0.5); 
 --texto-fundo: rgba(58,55,94,0.3);
    
}
*{
  background-color:var(--cor-de-fundo);
  color: var(--branco);

}
.conteudoprincipal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;


}
.tituloprincipal{
  text-align: center;
  width: 100%;
  font-size: 32px;
}
.botao{
 background-color: var(--botao-inativo);
 color: #FFFFFF;
 display: flex;
 font-size: 18px;
 width: 100%;
 align-items: center;
 justify-content: center;
 padding: 1em;
}